<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h2>Welcome to The Devine Feminine Agenda</h2>
      <p>An easy way for Women to Unite</p>
    </ion-slide>
    <ion-slide>
        <img src='assets/images/slide2.jpg' alt="Picture Slide2"/>
      <h2>Stay Connected</h2>
    </ion-slide>
    <ion-slide>
        <img src='assets/images/slide3.jpg' alt="Picture Slide3"/>
      <h2>Learn From Each Other</h2>
    </ion-slide>
  </ion-slides>
  <app-start></app-start>
</ion-content>