<ion-tabs>
  <ion-tab-bar slot="bottom" color="black">
    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="send-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
